version: "3.7"

services:
  nodejs:
    build:
      context: .
      target: prod
    image: sanctuary-api
    container_name: sanctuary-api
    restart: unless-stopped
    env_file: .env
    environment:
      - MYSQL_HOSTNAME=db
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    networks:
      - app-network
    depends_on:
      - db
    command: sh -c "./wait-for.sh db:3306 -- npm run start:dev"

  db:
    platform: linux/amd64
    image: mysql:5.6.44
    container_name: db
    restart: unless-stopped
    ports:
      - "3306:3306"
    expose:
      - "3306"
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=sanctuary_dev
    volumes:
      - dbdata:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  dbdata:
