name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 12.18.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.18.x
    - run: npm install
    - run: npm run build --if-present
    - run: npm run coverage
      env:
        CI: true
    - uses: codecov/codecov-action@v1
      with:
        file: ./coverage/coverage-final.json
        flags: unittests
        fail_ci_if_error: true
